<div class="list row">
  <div class="col-md-6">
    <h4>Employees List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let employee of employees; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveEmployee(employee, i)"
      >
        {{ employee.first_name + ' ' + employee.last_name  }}
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <div *ngIf="currentEmployee">
      <h4>Employee</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentEmployee.first_name }}
      </div>

      <a style="color: black" class="badge badge-warning" routerLink="/employees/{{ currentEmployee.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentEmployee">
      <br/>
      <p>Please click on an employee...</p>
    </div>
  </div>
</div>
