<div class="list row">
  <div class="col-md-6">
    <h4>Departments List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let department of departments; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveDepartment(department, i)"
      >
        {{ department.department_name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentDepartment">
      <h4>Department</h4>
      <div>
        <label><strong>Name:</strong></label> {{ currentDepartment.department_name }}
      </div>
      <a style="color: black" class="badge badge-warning" routerLink="/departments/{{ currentDepartment.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentDepartment">
      <br/>
      <p>Please click on a Department...</p>
    </div>
  </div>
</div>
